@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Open+Sans&display=swap');

//colors: artsy and creative
$gold: #D79922;
$cream: #EFE2BA;
$rosso: #F13C20;
$royalPurple: #4056A1;
$lightLavender: #C5CBE3;

//breakpoint values
$breakpoints: (
    'sm': 450px,
    'md': 768px,
    'lg': 1024px,
    'xl': 1200px
)